<section class="flex flex-col gap-4">
  <img [src]="recipe.imgPath" alt="#" class="w-64 h-64 rounded-xl">

  <h3 class="text-lg font-medium">{{ recipe.name }}</h3>

  <p>{{ recipe.description }}</p>

  <footer toggleController>
    <button class="rounded px-3 py-2 bg-blue-500 text-white w-fit" appDropdown>
      Manage Recipe

      <i class="fa-solid fa-caret-down"></i>
    </button>

    <ul
      class="hidden open:flex rounded mt-0.5 border border-blue-700 bg-blue-500 text-white p-2 flex-col gap-2 w-fit shadow-lg"
      toggle>
      <li><a href="#">Add Ingredients to Shopping List</a></li>

      <li><a href="#">Edit Recipe</a></li>

      <li><a href="#">Delete Recipe</a></li>
    </ul>
  </footer>
</section>