<nav class="flex justify-between py-4">
  <h1 class="text-xl">
    <a href="#">Recipe Book</a>
  </h1>

  <section class="flex gap-10">
    <ul class="flex gap-4">
      <li><a href="#">Recipes</a></li>

      <li><a href="#">Shopping</a></li>
    </ul>

    <ul class="">
      <li>
        <a href="#" class="hidden lg:block">Menu <i class="fa-solid fa-caret-down"></i></a>
        <a href="#" class="lg:hidden"><i class="fa-solid fa-bars"></i></a>

        <ul class="hidden">
          <li><a href="#">Save Data</a></li>

          <li><a href="#">Fetch Data</a></li>
        </ul>
    </ul>
  </section>
</nav>