<form class="flex flex-col gap-4">
  <section class="flex gap-2">
    <div class="flex w-4/12 flex-col">
      <label for="name">Name</label>

      <input
        type="text"
        name="name"
        id="name"
        #nameInput
      />
    </div>

    <div class="flex w-1/12 flex-col">
      <label for="amount">Amount</label>

      <input
        type="number"
        name="amount"
        id="amount"
        #amountInput
      />
    </div>
  </section>

  <footer class="flex gap-4">
    <app-button
      size="lg"
      type="success"
      function="submit"
      (click)="onAddItem()"
    >
      Add
    </app-button>

    <app-button
      size="lg"
      type="danger"
    >
      Remove
    </app-button>

    <app-button
      size="lg"
      type="primary"
      function="reset"
    >
      Reset
    </app-button>
  </footer>
</form>